.login{
	margin-top: 115px;
}
footer{
	background-color: #968048;
	height: 80px;
}h5{
	color: DarkGray;
}
.footerf{
	margin-top: 20px;
}
.footerl{
	text-align: right;
	margin-top: 33px;
	margin-right: 30px;
}