body{
  background-image: url("WEB design/hotel-002.jpg");
}
footer{
	background-color: #968048;
	height: 80px;
  margin-top: 14.5%;
}h5{
	color: DarkGray;
}
.footerf{
	margin-top: 20px;
}
.footerl{
	text-align: right;
	margin-top: 33px;
	margin-right: 30px;
}
